.contain {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}
.main__content {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .main__content {
    margin-left: 50px;
  }
}
.sidebar {
  background: rgb(248, 249, 250);
  color: gray;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
  overflow-y: auto;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  align-items: center;
  display: flex;
  color: gray;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  transition: all 0.5s;
}
.active {
  background: whitesmoke;
  color: #000;
}
.link_text {
  font-size: 22px;
}

.icon {
  font-size: 22px;
  background: #fff;
}
