.sidebar__img {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__img img {
  height: 2rem;
  width: 100%;
  object-fit: contain;
}
.sidenav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidenav__links button {
  width: 100%;
  padding: 1rem 4rem;
}
.sidenav__links button a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #000;
  width: 100%;
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
}
.sidenav__links button a span {
  text-align: left;
  font-weight: 700;
  font-size: 1rem;
}
.sidenav__links button a div i {
  font-size: 2rem;
}
.sidenav__links button a div {
  display: "flex" !important;
  justify-content: "center";
  align-items: "center";
  box-shadow: "rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem";
}
.sidenav__drawer {
  background: rgb(248, 249, 250);
}
